/* colors: #B03B8D #471F3B #7C7B7B #F7CFE4*/
html{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
header{
    text-align: center;
    background: url(../img/header.jpg) center/cover no-repeat;
    width: 100%;
    height: 92.8vh;
}
nav{
    position: sticky;
    height: 7vh;
    margin: 0;
    background: #ffffff;
    border-bottom: 1px solid #B03B8D;
    top: 0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 2vh 0 0 0;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: #471F3B;
    padding-left: 3%;
    font-weight: 600;
}
nav ul li a:hover{
    text-decoration: none;
    color: #B03B8D;
}
main{
    text-align: center;
}
section{
    border-bottom: 1px solid #B03B8D;
}
section h1{
    color: #B03B8D;
    font-size: 3rem;
    padding-top: 5vh;
    margin-bottom: 1vh;
    text-shadow: 2px 2px 4px #471F3B;
}
section:first-of-type h2{
    color: #471F3B;
    margin-top: 0;
    padding-bottom: 5vh;
}
.rabatt{
    background: #F7CFE4;
    width: 300px;
    margin: auto;
    border-radius: 10%;
    box-shadow: 2px 2px 4px 2px #B03B8D;
    padding-bottom: 2vh;
}
section .rabatt h2{
    color: #B03B8D;
    font-size: 4rem;
    padding: 3vh 0 0 0;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px #471F3B;
}
section .rabatt h3{
    color: #B03B8D;
    font-size: 2.5rem;
    padding-top: 0;
    margin-top: 2vh;
    text-shadow: 2px 2px 4px #471F3B;
}
section .rabatt h4{
    color: #471F3B;
    font-size: 1.5rem;
    padding-bottom: 2vh;
}
section .rabatt h4 span{
    display: block;
}
section .rabatt a{
    text-decoration: none;
    background: #B03B8D;
    color: #471F3B;
    border-radius: 20%;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 2%;
}
section .rabatt a:hover{
    border: 1px solid #471F3B;
    box-shadow: 0px 0px 4px 2px #471F3B;
}
Section:first-of-type>h3{
    color: #471F3B;
    padding: 7vh 10% 3vh 10%;
    font-size: 1.2rem;
}
section h3>.break{
    display: block;
}
section h3>.col{
    color: #B03B8D;
}
.marken{
    padding: 0 20%;
}
.box:hover{
    box-shadow: 0 0 4px 0.5px lightgray;
}
.box:nth-of-type(1){
    margin-top: 10vh;
    background: url(../img/Marke1.jpg) left/contain no-repeat;
    height: 50vh;
    padding-right: 1.5%;
}
.box:nth-of-type(1) h2{
    padding-left: 45%;
    color: #B03B8D;
    padding-top: 10vh;
    text-shadow: 1px 1px 2px #471F3B;
}
.box:nth-of-type(1) p{
    padding-left: 45%;
    color: #471F3B;
}
.box p span{
    color: #B03B8D;
}
.box:nth-of-type(2){
    margin-top: 10vh;
    background: url(../img/Marke2.jpg) right/contain no-repeat;
    height: 50vh;
    padding-left: 1.5%;
}
.box:nth-of-type(2) h2{
    padding-right: 45%;
    color: #B03B8D;
    padding-top: 10vh;
    text-shadow: 1px 1px 2px #471F3B;
}
.box:nth-of-type(2) p{
    padding-right: 45%;
    color: #471F3B;
}
.box:nth-of-type(3){
    margin-top: 10vh;
    background: url(../img/Marke3.jpg) left/contain no-repeat;
    height: 50vh;
    padding-right: 1.5%;
}
.box:nth-of-type(3) h2{
    padding-left: 45%;
    color: #B03B8D;
    padding-top: 10vh;
    text-shadow: 1px 1px 2px #471F3B;
}
.box:nth-of-type(3) p{
    padding-left: 45%;
    color: #471F3B;
}
.box:nth-of-type(4){
    margin-top: 10vh;
    background: url(../img/Marke4.jpg) right/contain no-repeat;
    height: 50vh;
    margin-bottom: 10vh;
    padding-left: 1.5%;
}
.box:nth-of-type(4) h2{
    padding-right: 45%;
    color: #B03B8D;
    padding-top: 10vh;
    text-shadow: 1px 1px 2px #471F3B;
}
.box:nth-of-type(4) p{
    padding-right: 45%;
    color: #471F3B;
}
.footer{
    background: url(../img/footer.jpg) center/cover no-repeat;
    height: 100vh;
}
.kontakt{
    text-align: left;
    padding: 5%;
}
.kontakt h2{
    color: #B03B8D;
    border-bottom:1px dashed #B03B8D ;
}
.kontakt p{
    color: #471F3B;
    padding-right: 15%;
}
.kontakt p a{
    color: #471F3B;
}
.kontakt p a:hover{
    color: #B03B8D;
}