/* colors: #B03B8D #471F3B #7C7B7B #F7CFE4*/
html{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
}
header{
    text-align: center;
    background: url(../img/HeaderBG.jpg) center/cover no-repeat;
    width: 100%;
    height: 92.8vh;
}
nav{
    position: sticky;
    height: 7vh;
    margin: 0;
    background: #ffffff;
    border-bottom: 1px solid #B03B8D;
    top: 0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 2vh 0 0 0;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: #471F3B;
    padding-left: 3%;
    font-weight: 600;
}
nav ul li a:hover{
    text-decoration: none;
    color: #B03B8D;
}
main{
    text-align: center;
}
section{
    border-bottom: 1px solid #B03B8D;
}
h1{
    color: #B03B8D;
    font-size: 3rem;
    padding-top: 5vh;
    margin-bottom: 1vh;
}
h2{
    color: #471F3B;
    margin-top: 0;
    padding-bottom: 5vh;
}
div{
    background: #F7CFE4;
    width: 300px;
    margin: auto;
    border-radius: 10%;
    box-shadow: 2px 2px 4px 2px #B03B8D;
}
div h2{
    color: #B03B8D;
    font-size: 4rem;
    padding: 3vh 0 0 0;
    margin-bottom: 0;
}
div h3{
    color: #B03B8D;
    font-size: 2.5rem;
    padding-top: 0;
    margin-top: 2vh;
}
div h4{
    color: #471F3B;
    font-size: 1.5rem;
    padding-bottom: 2vh;
}
div h4 span{
    display: block;
}
Section p{
    color: #471F3B;
    padding: 7vh 10% 3vh 10%;
    font-size: 1.2rem;
}
section p span{
    display: block;
}